.App {
  text-align: center;
  justify-content: center;
  display: flex;
}
.main {
  margin-top: 20px;
  width: 350px;
}
.image-container {
  height: 350px;
  justify-content: center;
  align-items: center;
  display: grid;
}
.image {
  width: 350px;
  max-height: 350px;
}

.menu {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 350px;
}
.menu > button {
  width: 90px;
  height: 35px;
  background-color: dodgerblue;
  border: none;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  color: white;
}
.menu > button:hover {
  cursor: pointer;
  background-color: rgba(30, 143, 255, 0.777);
}
